@model BillViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Purchase Order</title>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body style='padding: 10px;'>
    <table style='font-family: arial, sans-serif; border-collapse: collapse; width: 100%; border: 1px solid #dddddd;'>
        <tr>
            <th><h3><i class="fas fa-globe"> Silverline IT HUB</i></h3></th>
            <th style='text-align-last: end;'>Date: @(Model.Date.HasValue? Model.Date.Value.ToString("dd/MM/yyyy"):"")</th>
        </tr>
        <tr style='background: #0000;'>
            <th>
                1st Floor, Prime Plaza Complex,<br /> Opp DLA School,Judges Bungalow Road<br /> Bodakdev, Ahmedabad-380054
                <br />GSTIN : 24AAXPG7005J1ZI
                <p style='margin: 0 0 -10px;color: #878787;font-size: 13px;'>From</p>

            </th>
            <th>
                <p style='margin:0 0 -10px;color: #878787;font-size: 13px;'>PO #@Model.No</p>
            </th>
        </tr>
        <tr style='background:#0000;'>
            <th>
                <h6 style='margin: 0 0 -10px; color: #000; font-size: 15px; font-weight: bold;'>@Model.VendorName</h6>
                <br>
                <p style='margin: 0 0 -10px;color: #000;font-size: 12px;'>@Model.VendorAddress</p>
                <br>
                <p style='margin: 0 0 -10px;color: #000;font-size: 12px;'>@Model.DeliveryType</p>
                <br>
                <p style='margin: 0 0 -10px;color: #000;font-size: 12px;'>@Model.DeliveryAddress</p>
            </th>
            <th>
                <h6 style='margin: 0 0 -10px; color: #000; font-size: 15px; font-weight: bold;'>Sales Person: @Model.SalesPersoName</h6>
                <br>
                <h6 style='margin: 0 0 -10px; color: #000; font-size: 15px; font-weight: bold;'>Payment Term: @Model.PaymentTerm</h6>
                <br>
            </th>
        </tr>
        @if (Model.PaymentTerm == "PDC")
        {
            <tr style='background:#0000;'>
                <th>
                </th>
                <th>
                    <h6 style='margin: 0 0 -10px; color: #000; font-size: 15px; font-weight: bold;'>Days: @Model.PaymentValue</h6>
                    <br>
                </th>
            </tr>
        }

    </table>
    <center>
        <table border="1" style='font-family: arial, sans-serif; border-collapse: collapse; width: 100%; border: 1px solid #dddddd;'>
            <thead>
                <tr>
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">Sr No</th>
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">Item</th>
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">Qty</th>
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">GST</th>
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">Basic Rate</th>
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">Freight</th>
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">CDC(%)</th>
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">Discount(Amt)</th>
                    @*<th style="text-align: left; padding: 10px 5px 10px 5px;">NLC</th>*@
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">Remarks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BillItemsView.Select((x, i) => new { Data = x, Index = i + 1 }))
                {
                <tr style="@(item.Index%2==0?"":"background-color: #f9f9f9;")">
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">@item.Index</th>
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">@item.Data.ItemName</th>
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">@item.Data.Qty</th>
                    <td style="text-align: left; padding: 10px 5px 10px 5px;">@item.Data.Scheme1</td>
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">@item.Data.BasicRate</th>
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">@item.Data.AddCost</th>
                    <th style="text-align: left; padding: 10px 5px 10px 5px;">@item.Data.CDC</th>
                    <td style="text-align: left; padding: 10px 5px 10px 5px;">@item.Data.Discount1</td>
                    @*<td style="text-align: left; padding: 10px 5px 10px 5px;">@item.Data.NLC</td>*@
                    <td style="text-align: left; padding: 10px 5px 10px 5px;">@item.Data.Remarks</td>
                </tr>
                }
            </tbody>
        </table>
    </center>
</body>
</html>
