@model BillViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Purchase Invoice</title>

    @*<style type='text/css'>
            td, th {
                border: 0px solid #dddddd;
                text-align: left;
                padding: 10px 5px 10px 5px;
            }

            tr:nth-child(even) {
                background-color: #f9f9f9;
            }
        </style>*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body style='padding: 10px;'>
    <table style='font-family: arial, sans-serif; border-collapse: collapse; width: 100%; border: 1px solid #dddddd;'>
        <tr>
            <th><h3><i class="fas fa-globe"> Silverline, Inc.</i></h3></th>
            <th style='text-align-last: end;'>Date: @Model.Date.Value.ToString("dd/MM/yyyy")</th>
        </tr>
        <tr style='background: #0000;'>
            <th>
                <p style='margin: 0 0 -10px;color: #878787;font-size: 13px;'>From</p>
                <br>
                <h6 style='margin: 0 0 -10px; color: #000; font-size: 15px; font-weight: bold;'>@Model.VendorName</h6>
            </th>
            <th>
                <p style='margin:0 0 -10px;color: #878787;font-size: 13px;'>PO #@Model.No</p>

            </th>
        </tr>
        <tr style='background: #0000;'>
            <th>
            </th>
            <th>
                <h6 style='margin: 0 0 -10px; color: #000; font-size: 15px; font-weight: bold;'>Sales Person: @Model.SalesPersoName</h6>
                <br>
                <h6 style='margin: 0 0 -10px; color: #000; font-size: 15px; font-weight: bold;'>Payment Term: @Model.PaymentTerm</h6>
            </th>
        </tr>
    </table>
    <center>
        <table style='font-family: arial, sans-serif; border-collapse: collapse; width: 100%; border: 1px solid #dddddd;'>
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Basic Rate</th>
                    <th>Add Cost</th>
                    <th>CDC</th>
                    <th>Discount1</th>
                    <th>GST</th>
                    <th>NLC</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BillItemsView.Select((x, i) => new { Data = x, Index = i + 1}))
                {
                    <tr>
                        <th>@item.Index</th>
                        <th>@item.Data.ItemName</th>
                        <th>@item.Data.Qty</th>
                        <th>@item.Data.BasicRate</th>
                        <th>@item.Data.AddCost</th>
                        <th>@item.Data.CDC</th>
                        <td>@item.Data.Discount1</td>
                        <td>@item.Data.Scheme1</td>
                        <td>@item.Data.NLC</td>
                        <td>@item.Data.Remarks</td>
                    </tr>
                }
            </tbody>
        </table>
    </center>
</body>
</html>
