@model TaskItemViewModel
@{
}

<div class="card-header">
    <h5 class="card-title">PO No :<a href="@Url.Action("view","PurchaseOrder",new { id = Model.Id })">@Model.No</a> (D:@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Date)))<span class="badge @(@Model.DeliveryType=="PickUp"?"bg-success": "bg-gradient-indigo")">@Model.DeliveryType</span></h5>
    @if (Model.CanEdit)
    {
        <div class="card-tools">
            @if (Model.CanReSendEmail)
            {
                <a href="@Url.Action("resensemail", "PurchaseOrder", new { id = Model.Id })" class="btn btn-tool">
                    <i class="fas fa fa-envelope" style="font-size:25px;"></i>
                </a>
                <a href="https://wa.me/@Model.VendorContactNo/?text=Hello @Model.VendorName we sent you po with no:@Model.No on your email please review it" target="_blank" class="btn btn-tool">
                    <img src="https://web.whatsapp.com/apple-touch-icon.png" style="width:25px;">
                </a>
            }

            <a href="@Url.Action("detail","PurchaseOrder",new { id = Model.Id })" class="btn btn-tool">
                <i class="fas fa fa-share-square" style="font-size:25px;"></i>
            </a>

        </div>
    }
</div>
<div class="card-body p-0">
    <ul class="list-group">
        <li class="list-group-item"><b>Sales Person : </b>@Model.SalesPersoName</li>
        <li class="list-group-item"><b>Vendor : </b>@Model.VendorName</li>
    </ul>
</div>