@model TaskItemViewModel
@{
}

<div class="card-header">
    <h5 class="card-title">PO:<a href="/PurchaseOrder/detail/@Model.Id">@Model.No</a><span class="badge @(@Model.DeliveryType=="PickUp"?"bg-success": "bg-gradient-indigo")">@Model.DeliveryType</span></h5>
    @if (Model.CanEdit)
    {
    <div class="card-tools">
        <a href="/PurchaseOrder/edit/@Model.Id" class="btn btn-tool">
            <i class="fas fa-pen"></i>
        </a>
    </div>
    }
</div>
<div class="card-body p-0">
    <ul class="list-group">
        <li class="list-group-item"><b>Date : </b>@Model.Date</li>
        <li class="list-group-item"><b>Sales Person : </b>@Model.SalesPerson</li>
        <li class="list-group-item"><b>Vendor : </b>@Model.Vendor</li>
        <li class="list-group-item"><b>Payment Term : </b>@Model.PaymentTerm</li>
    </ul>
</div>