@model List<TaskItemViewModel>
@{
    ViewData["Title"] = "Home Page";
}
@{
    var approver = Model.Where(w => w.Approver == 0).ToList();
    var purchase = Model.Where(w => w.Approver == 1 && w.Purchase == 0);
    var account = Model.Where(w => w.Approver == 1 && w.Purchase == 1 && w.Accounts == 0);

}


<section class="content pb-3">
    <div class="container-fluid h-100">
        <div class="row">
            <div class="p-0 col card card-row card-default">
                <div class="card-header bg-orange">
                    <h3 class="card-title">
                        Approver (Total : @approver.Count())
                    </h3>
                </div>
                <div class="card-body pl-0 pr-0">
                    @foreach (var item in Model.Where(w => w.Approver == 0))
                    {
                        item.CanEdit = (ViewBag.userole == "Admin" || ViewBag.userole == "Approver"); 
                        item.CanReSendEmail=false;
                        <div class="card card-primary card-outline">
                            <partial name="~/Views/Home/_taskitem.cshtml" for="@item" />
                        </div>
                    }

                </div>
            </div>
            <div class="p-0 ml-1 mr-1 col card card-row card-default">
                <div class="card-header bg-gradient-green">
                    <h3 class="card-title">
                        Purchase (Total : @purchase.Count())
                    </h3>
                </div>
                <div class="card-body pl-0 pr-0">
                    @foreach (var item in purchase.ToList())
                            {
                                item.CanEdit = (ViewBag.userole == "Admin" || ViewBag.userole == "Purchase");
                                item.CanReSendEmail = true;
                                <div class="card card-primary card-outline">
                            <partial name="~/Views/Home/_taskitem.cshtml" for="@item" />
                        </div>
                    }
                </div>
            </div>
            <div class="p-0 col card card-row card-default">
                <div class="card-header bg-red">
                    <h3 class="card-title">
                        Account (Total : @account.Count())
                    </h3>
                </div>
                <div class="card-body pl-0 pr-0">
                    @foreach (var item in account.ToList())
                    {
                        item.CanEdit = true;
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="card-title">PO No :<a href="@Url.Action("view","PurchaseOrder",new { id = item.Id })">@item.No</a> (D:@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date)))<span class="badge @(item.DeliveryType=="PickUp"?"bg-success": "bg-gradient-indigo")">@item.DeliveryType</span></h5>
                                <div class="card-tools">
                                    @if (ViewBag.userole == "Admin" || ViewBag.userole == "Account")
                                    {
                                        <a href="@Url.Action("resensemail","PurchaseOrder",new { id = item.Id })" class="btn btn-tool">
                                            <i class="fas fa fa-envelope" style="font-size:25px;"></i>
                                        </a>
                                        <a href="@Url.Action("detail", "PurchaseOrder", new { id = item.Id })" class="btn btn-tool">
                                            <i class="fas fa fa-share-square" style="font-size:25px;"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <ul class="list-group">
                                    <li class="list-group-item"><b>Sales Person : </b>@item.SalesPersoName</li>
                                    <li class="list-group-item"><b>Vendor : </b>@item.VendorName</li>
                                    <li class="list-group-item"><b>Invoice No : </b>@item.PurchaseInvoiceNo</li>
                                    <li class="list-group-item"><b>Invoice Date : </b>@item.PurchaseDate.ToString("dd-MM-yyyy")    &nbsp;     <b>Goods Rec Date : </b>@item.GoodReceiveDate.ToString("dd-MM-yyyy")</li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

