@model Command.Entity1.ItemGroup
@*<form asp-controller="ItemGroup" asp-action="additemgroup" method="post">
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.ModifiedBy)
            @Html.HiddenFor(m => m.ModifiedDate)
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input type="text" asp-for="Name" class="form-control" placeholder="Enter Name" required="required" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="card-tools">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Save</button>
            <button type="submit" class="btn btn-primary" asp-controller="salesperson" asp-action="Index"><i class="fas fa-times"></i>Cancel</button>
        </div>
    </div>
</form>*@

<form asp-controller="Item" asp-action="additemgroup" method="post">
  
    <div class="card-body">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ModifiedBy)
        @Html.HiddenFor(m => m.ModifiedDate)
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ItemGroup Name</label>
                    @Html.TextBoxFor(m => m.ItemGroupName, new { @class = "form-control", placeholder = "Enter Name" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Parent ItemGroup</label>
                    <select type="select" asp-for="ParentItemGroupId" asp-items="ViewBag.ItemGroupNLevelString" class="form-control">
                        <option value="0">None</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <div class="card-tools">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Save</button>
            <button type="submit" class="btn btn-primary" asp-controller="Item" asp-action="index"><i class="fas fa-times"></i>Cancel</button>
        </div>
    </div>
</form>
